services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    container_name: ${CONTAINER_NAME}
  cache:
    image: valkey/valkey:latest
    ports:
      - "6379:6379"
    container_name: ${CACHE_CONTAINER_NAME}

volumes:
  pgdata:
